._1X6Lit2I .yzL0lSdQ {
    border-top-color: #190000;
    border-bottom-color: #190000;
}
div._1X6Lit2I .yzL0lSdQ {
    color: #fff;
    border-top-width: 1px;
    border-top-style: solid;
}
div._1X6Lit2I .yzL0lSdQ {
    color: #fff;
    border-top-width: 1px;
    border-top-style: solid;
}
._1CmrZeBi {
    display: block;
}
._1CmrZeBi, ._15S0YAma {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ececec;
}
._1CmrZeBi {
    display: block;
}
._1CmrZeBi, ._15S0YAma {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ececec;
}
* {
    touch-action: manipulation;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    border: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
}
* {
    touch-action: manipulation;
}
*, :after, :before {
    box-sizing: border-box;
}
* {
    border: 0;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    -webkit-user-drag: none;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}